extend ../layouts/common

block content

  h2.text-center.mt-4 Login
  .container
    if (error)
      .alert.alert-danger.mt-4= error
    form.form-group.mt-4(action='', method='post')
      label(for='email') Email:
      br
      input.form-control(id='email', name='email', type='text', value=values ? values.email : '')
      br
      label(for='password') Password:
      br
      input.form-control(id='password', name='password', type='password')
      br
      button.btn.btn-success Login