extend ../layouts/common

block content

  h3.text-center.mt-4 Sign up for free
  .container
    if (errors)
      each error in errors
        .alert.alert-danger.mt-4= error
    form.form-group.mt-4(action='/auth/signup', method='post', enctype='multipart/form-data')
      label(for='name') Name:
      input.form-control(id='name', name='name', type='text')
      label(for='phone') Phone:
      input.form-control(id='phone', name='phone', type='text')
      label(for='email') Email:
      input.form-control(id='email', name='email', type='text')
      label(for='password') Password:
      input.form-control(id='password', name='password', type='password')
      label(for='avatar') Avatar:
      input.form-control-file(id='avatar', name='avatar', type='file')
      button.btn.btn-success.mt-4 Signup