extend ../layouts/common

block content

  h2.text-center.mt-4 Shop of #{user.name}
  .container
    a.mb-4.btn.btn-success(href='/shops/' + user.id + '/books/create') Create a new book
    table.table
      thead.thead-dark
        tr
          th.text-center Cover
          th.text-center Title
          th.text-center Description
          th.text-center Action
        each book in books
          tr
            td.text-center
              img(src=book.coverUrl, width='64')
            td.text-center= book.title
            td.text-center= book.description
            td.text-center
              .btn-group.btn-group-sm
                a.btn-action.btn.btn-primary(href='/shops/' + user.id + '/books/' + book.id + '/add') Add
    //- - var n = 1;
    //- nav
    //-   ul.pagination.justify-content-center
    //-     while n <= pageQuantity
    //-       li.page-item
    //-         a.page-link(href='/books?page=' + n)= n++



