html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="icon", type="image/png", href="https://cdn.glitch.com/46ef95f0-e192-4c0d-b1de-dc836e53b5d3%2Ffavicon.png?v=1587549411189")
    link(rel="stylesheet", href='/custom.css')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href='/') Library Manager
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarNav')
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/users') Users
          li.nav-item
            a.nav-link(href='/books') Books
          li.nav-item
            a.nav-link(href='/transactions') Transactions
          li.nav-item
            a.nav-link(href='/cart') Cart
      if user
        a.text-white(href='/profile/' + user.id)= user.name
        
    block content
    
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')

