extend ../layouts/common

block content

  h2.text-center.mt-4 Your users
  .container.mt-4
    table.table
      thead.thead-dark
        tr
          th.text-center Avatar
          th.text-center Name
          th.text-center Phone
          th.text-center Email
        each user in users
          tr
            td.text-center
              img(src=user.avatarUrl, alt="avatar", width="64")
            td.text-center= user.name
            td.text-center= user.phone
            td.text-center= user.email